{% set template = "index.html" if not (request|is_htmx_request) else "" %}
{% if template %}
{% extends template %}
{% endif %}

{% block main %}
<h2 class="text-2xl font-bold mb-4 flex flex-row justify-between">
  <div>
    {{ item.title|default('Item List') }}
  </div>
  <div>
    {% include 'component/header-links.html' %}
  </div>
</h2>

<div class="space-y-4 list-response response">
  {% for item in item.response %}
  {%- if item._html_template %}
  {% include item._html_template %}
  {%- else %}
  {%- set template_path = item|template_path_from_item(request) %}
  {%- if template_path | template_exists %}
  {% include template_path %}
  {%- else %}
  Missing Template: {{ template_path }}
  {%- endif %}
  {%- endif %}
  {%- endfor %}
  {%- if item.links.next|default() %}
  <!-- Include a button to load the next page -->
  {%- endif %}
</div>

<!-- header link popovers -->
<div>
  {% include 'component/header-link-popovers.html' %}
</div>
{% endblock %}