<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
  <link href="/static/output.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
    integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
    crossorigin="anonymous"></script>
</head>

<body class="min-h-screen flex flex-col" hx-headers='{"Accept":"text/html"}'>
  {% block content %}
  <!-- Header -->
  <div class="bg-purple-900 text-white p-4 flex items-center justify-between">
    <h1 class="text-xl font-bold">{{ app_name }}</h1>
    <div class="flex items-center space-x-4">
      <p class="hidden sm:block">Hello, User</p>
      <img src="https://via.placeholder.com/40" alt="Profile"
        class="w-10 h-10 rounded-full border-2 border-white">
    </div>
  </div>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <aside class="bg-gray-800 text-white w-64 p-4">
      <nav>
        <ul hx-target="main" hx-replace-url="true">
          {% for item_name, menu_item in menu.items() %}
          {% include 'component/link.html' %}
          {% endfor %}
        </ul>
      </nav>
    </aside>

    <!-- Content Area -->
    <main class="flex-1 p-6 bg-gray-100">
      <h2 class="text-2xl font-bold mb-4">Welcome to the PFaht Stack</h2>
      <p>This is where your main content goes.</p>
    </main>
  </div>
  <div>
    <!-- Data lists: Want to include data lists here  -->
  </div>

  <!-- footer -->
  <footer class="bg-purple-950 text-white p-4 text-center">
    <p>
      <!-- copywrite symbol github.com/amacc -->
      &copy;@github.com/amacc {{ app_name }} 2024
    </p>
  </footer>
  {% endblock %}
</body>

</html>