<div id="device-card-{{ item.device_id }}" class="bg-purple-200 p-4 rounded device"
  x-data="{ open: false, isEditing: false, selected: 'details' }">
  <div class="max-w-full border-b-2 border-b-purple-500 flex items-center
      justify-between device-header">
    <div class="device-header-info">
      <div class="flex items-center space-x-4">
        <div class="device-header-profile-icon">
          {% set icon="/svgrepo/{0}.svg".format(item.device_type) %}
          {% include 'component/icon.html' %}
        </div>
        <div class="device-header-title">
          {{ item.device_id }}: {{ item.device_name|title }}
        </div>
      </div>
    </div>
    <!-- Button Dropdown -->
    <div class="relative device-header-dropdown">
      <!-- Popover Trigger (Icon Container) -->
      <div @click="open = !open" class="w-6 h-6 rounded-t flex items-center justify-center cursor-pointer
          bg-purple-300 hover:bg-purple-400">
        <div>
          {% set icon='heroicons/solid/cog-6-tooth.svg' %}
          {% include 'component/icon-button.html' %}
        </div>
        <!-- Popover Content -->
        <div x-show="open" @click.outside="open = false" x-transition
          class="absolute top-full right-0 mt-2 w-48 bg-white border border-gray-300 rounded-lg shadow-lg z-50 bg-gray-100">
          <ul class="p-2 space-y-2 text-sm text-gray-700">
            <li x-show="!isEditing" x-transition>
              <button class="block px-4 py-2 hover:bg-gray-100 rounded w-full"
                @click="isEditing = true; open = false">Edit</button>
            </li>
            <li> <!--  will add hx-delete later to this -->
              <button hx-delete="/devices/{{ item.device_id }}"
                class="block px-4 py-2 hover:bg-gray-100 rounded w-full">
                Delete
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- section selector -->
  <div class="flex flex-row space-x-4 w-full bg-purple-500 content-start 
      border-b-purple-500 border-b-2 text-white group px-2 ">
    <button @click="selected = 'details'" class="rounded px-1"
      :class="{ 'bg-purple-700': selected === 'details' }">
      Details
    </button>
    <button @click="selected = 'issues'" class="rounded px-1"
      :class="{ 'bg-purple-700': selected === 'issues' }">
      Issues
    </button>
  </div>
  <div x-show="selected === 'details'">
    {% include 'device/detail/form.html' %}
  </div>
  <div x-show="selected === 'issues'">
    <!-- Simulated Related issues load -->
    <div class="flex flex-col">
      <label for="device_location_{{ item.device_id }}" class="text-sm font-medium">
        Opened Issues
      </label>
      <div class="w-full h-full">
        <img src="https://dummyimage.com/1000x60&text=Loading Device Issues..."
          alt="Issues">
      </div>
    </div>
  </div>
</div>