{% set template = "index.html" if not (request|is_htmx_request) else "" %}
{% if template %}
{% extends template %}
{% endif %}

{% block main %}
<h2 class="text-2xl font-bold mb-4">List of Devices</h2>
<div class="space-y-4">
  {% for device in item.response %}
  <div class="bg-purple-200 p-4 rounded">
    <div class="max-w-full border-b-2 border-b-purple-500 flex items-center justify-between">
      <div> <!-- Device type is going to determine profile url -->
        <div class="flex items-center space-x-4">
          <div>
            <img src="https://dummyimage.com/40" alt="Profile" class="w-10 h-10 rounded-full border-2 border-white">
            <!-- {{ device.device_type }} -->
          </div>
          <div>
            {{ device.device_name }}
          </div>
        </div>
      </div>
      <!-- todo: buttondropdown here -->
      <div>
        {% set icon='heroicons/solid/cog-6-tooth.svg' %}
        {% include 'component/icon-button.html' %}
      </div>
    </div>
    Status: {{ device.device_status }}
    Location: {{ device.device_location }}
    Description: {{ device.device_description }}
    <div class="flex flex-col">
      Issues:
      <div class="w-full h-full">
        <img src="https://dummyimage.com/100x40" alt="Issues">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}